body {
    background-color: deeppink;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

#enviar {
    width: 15%;
    margin: auto;
}
#enviar:hover {
    background-color: deeppink;
    color: aliceblue;
}

#button {
    width: 20%;
    margin: auto;
}

#email:focus {
    border-style: dotted;
    outline: 0;
}

#text:focus {
    border-style: dotted;
    outline: 0;
    
}

input {
    margin: 20px;
}

#password:focus {
    border-style: dotted;
    outline: 0;
}




